# Godot 4+ specific ignores
.godot/
/android/
headless_smoke.log
sample_contracts_smoke.log
snapshot_viewer_smoke.log
legal_action_debug_panel_smoke.log
event_log_debug_view_smoke.log
unified_debug_dashboard_smoke.log
contract_consistency_smoke.log
